@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hppkzj');
  src:  url('../fonts/icomoon.eot?hppkzj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?hppkzj') format('woff2'),
    url('../fonts/icomoon.ttf?hppkzj') format('truetype'),
    url('../fonts/icomoon.woff?hppkzj') format('woff'),
    url('../fonts/icomoon.svg?hppkzj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e932";
}
.icon-filter:before {
  content: "\e930";
}
.icon-menu:before {
  content: "\e931";
}

.icon-360:before {
  content: "\e900";
}
.icon-add-to-order .path1:before {
  content: "\e901";
  color: rgb(255, 255, 255);
}
.icon-add-to-order .path2:before {
  content: "\e902";
  margin-left: -0.7333984375em;
  color: rgb(0, 0, 0);
}
.icon-add-to-order .path3:before {
  content: "\e903";
  margin-left: -0.7333984375em;
  color: rgb(0, 0, 0);
}
.icon-add-to-order .path4:before {
  content: "\e904";
  margin-left: -0.7333984375em;
  color: rgb(206, 206, 206);
}
.icon-add-to-order .path5:before {
  content: "\e905";
  margin-left: -0.7333984375em;
  color: rgb(206, 206, 206);
}
.icon-add-to-order .path6:before {
  content: "\e906";
  margin-left: -0.7333984375em;
  color: rgb(206, 206, 206);
}
.icon-add-to-order .path7:before {
  content: "\e907";
  margin-left: -0.7333984375em;
  color: rgb(206, 206, 206);
}
.icon-add-to-order .path8:before {
  content: "\e908";
  margin-left: -0.7333984375em;
  color: rgb(206, 206, 206);
}
.icon-add-to-order .path9:before {
  content: "\e909";
  margin-left: -0.7333984375em;
  color: rgb(0, 0, 0);
}
.icon-add-to-order .path10:before {
  content: "\e90a";
  margin-left: -0.7333984375em;
  color: rgb(255, 255, 255);
}
.icon-add-to-order .path11:before {
  content: "\e90b";
  margin-left: -0.7333984375em;
  color: rgb(255, 255, 255);
}
.icon-add-to-favorites:before {
  content: "\e90c";
}
.icon-cloud-upload:before {
  content: "\e90d";
}
.icon-comment:before {
  content: "\e90e";
}
.icon-Compare:before {
  content: "\e90f";
}
.icon-Export-Black:before {
  content: "\e910";
}
.icon-favorite-heart:before {
  content: "\e911";
}
.icon-Grid-Display:before {
  content: "\e912";
}
.icon-Group-8:before {
  content: "\e913";
  color: #7a7a7a;
}
.icon-List-Display:before {
  content: "\e914";
}
.icon-order-history .path1:before {
  content: "\e915";
  color: rgb(255, 255, 255);
}
.icon-order-history .path2:before {
  content: "\e916";
  margin-left: -0.7333984375em;
  color: rgb(0, 0, 0);
}
.icon-order-history .path3:before {
  content: "\e917";
  margin-left: -0.7333984375em;
  color: rgb(0, 0, 0);
}
.icon-order-history .path4:before {
  content: "\e918";
  margin-left: -0.7333984375em;
  color: rgb(206, 206, 206);
}
.icon-order-history .path5:before {
  content: "\e919";
  margin-left: -0.7333984375em;
  color: rgb(206, 206, 206);
}
.icon-order-history .path6:before {
  content: "\e91a";
  margin-left: -0.7333984375em;
  color: rgb(206, 206, 206);
}
.icon-order-history .path7:before {
  content: "\e91b";
  margin-left: -0.7333984375em;
  color: rgb(206, 206, 206);
}
.icon-order-history .path8:before {
  content: "\e91c";
  margin-left: -0.7333984375em;
  color: rgb(206, 206, 206);
}
.icon-order-history .path9:before {
  content: "\e91d";
  margin-left: -0.7333984375em;
  color: rgb(0, 0, 0);
}
.icon-order-history .path10:before {
  content: "\e91e";
  margin-left: -0.7333984375em;
  color: rgb(255, 255, 255);
}
.icon-order-history .path11:before {
  content: "\e91f";
  margin-left: -0.7333984375em;
  color: rgb(255, 255, 255);
}
.icon-order-history .path12:before {
  content: "\e920";
  margin-left: -0.7333984375em;
  color: rgb(255, 255, 255);
}
.icon-radio-button-off:before {
  content: "\e921";
  color: #696969;
}
.icon-radio-button-on .path1:before {
  content: "\e922";
  color: rgb(105, 105, 105);
}
.icon-radio-button-on .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 139, 170);
}
.icon-search:before {
  content: "\e924";
}
.icon-share:before {
  content: "\e925";
}
.icon-shopping-cart:before {
  content: "\e926";
}
.icon-star-half:before {
  content: "\e927";
}
.icon-star:before {
  content: "\e928";
}
.icon-time-clock .path1:before {
  content: "\e929";
  color: rgb(25, 25, 25);
}
.icon-time-clock .path2:before {
  content: "\e92a";
  margin-left: -0.904296875em;
  color: rgb(25, 25, 25);
}
.icon-time-clock .path3:before {
  content: "\e92b";
  margin-left: -0.904296875em;
  color: rgb(143, 165, 0);
}
.icon-time-clock .path4:before {
  content: "\e92c";
  margin-left: -0.904296875em;
  color: rgb(25, 25, 25);
}
.icon-time-clock .path5:before {
  content: "\e92d";
  margin-left: -0.904296875em;
  color: rgb(25, 25, 25);
}
.icon-time:before {
  content: "\e92e";
}
.icon-warning:before {
  content: "\e92f";
}