@charset "UTF-8";
/* CSS Document */

.ds42-main-grid {
	display: grid;
	grid-template-columns: 280px 1fr;
	grid-template-areas:
		"nav body"
}

.ds42-nav {
	grid-area: nav;
	background-color: red;
}

.ds42-body {
	grid-area: body;
	background-color: yellow;
}

#sidebar {
    grid-area: nav;
    background: #ffffff;
    color: #000000;
    transition: all 0.3s;
    border-right: thin solid #eeeeee;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
}

#sidebar.active {
    margin-left: 0px;
}

#sidebar .sidebar-header {
    padding: 19px 29px;
    background: #ffffff;
    border-bottom: thin solid #eeeeee;
}

#sidebar ul.components {
    padding: 20px 0px 0 0px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 10px 10px 40px;
    font-size: 1.1em;
    display: block;
    border-bottom: solid thin transparent;
}
#sidebar ul li a:hover {
    color: #008BAA;
    border-bottom: solid thin #008BAA;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #008BAA;
    border-bottom: solid thin #008BAA;
}



@media (max-width: 768px) {
    #sidebar {
        margin-left: -280px;
        height: 100vh;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .navbar{
        padding: 15px 33px;
    }
    .navbar-header{
        display: inherit;
        transition: all 0.3s;
	}
    
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #ffffff;
        color: #000000;
        transition: all 0.3s;
        border-right: thin solid #eeeeee;
        z-index: 2;
        position: inherit;
    }
    
}








/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
    	box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}


/*
 More to come here...
*/


/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  padding: 20px;
  display: flex;
  align-items: baseline;
}

article {
  padding: 30px;
  width: 55em;
  font-size: 16px;
  line-height: 1.5em;
}

article h2 {
  font-weight: 500;
  font-size: 28px;
}

.logo {
  margin: 0 30px 0 10px;
  font-size: 1.5em;
