@charset "UTF-8";
/* CSS Document */

.ds42-main-grid {
	display: grid;
	font-family: lato, verdana, arial, san-serif;
	grid-template-columns: 300px 1fr;
	grid-template-areas:
	"nav body"
}

#ds42-nav {
	grid-area: nav;
	background-color: #FFFFFF;
    color: #000000;
    transition: all 0.3s;
    border-right: thin solid #eeeeee;
    z-index: 2;
    position: fixed;
	height: 100vw;
	padding: 10px 10px 0px 10px;
    border-bottom: thin solid #eeeeee;
	list-style-type: none;
}

#ds42-nav ul {
	list-style-type: none;
	padding: 0px;
}


.ds42-body {
	grid-area: body;
}


#ds42-nav ul li a {
    padding: 10px 10px 10px 0px;
    color: #008BAA;
    display: block;
    border-bottom: solid thin transparent;
	text-decoration: none;
	
}
#ds42-nav ul li a:hover {
    color: #008BAA;
    text-decoration: underline;
}

.toggle {
    display: none;
  }

.ds42-nav-title {
	font-size: 20px;
}

.ds42-nav-category {
	font-size: 16px;
}


/* START OF THE BODY GRID */

.page-grid {
display: grid;
grid-template-rows: 50px 1fr;	
grid-template-areas:
	"pagetitle" 
	"pageoverview"	
}

.page-title {
grid-area: pagetitle;	
background-color: #2c2c2c;	
padding-left: 15px;	
padding-top: 10px;
}

.page-title h1 {
font-size: 24px;
font-weight: normal;
color: #FFFFFF;	
margin:0;	
}


.page-overview {
grid-area: pageoverview;
background-color: #f4f4f4;	
padding: 15px;	

}

.page-overview h2 {
font-size: 20px;
color: #2c2c2c;
}

.page-overview p {
font-size: 16px;
color: #2c2c2c;

}






@media only screen and (max-width: 768px) {
	.ds42-main-grid {
	grid-template-columns: 1fr;
	grid-template-areas:
		"nav" 
		 "body"
}
	
	
	#ds42-nav {
        position: fixed; /* or choose `absolute` depending on desired behavior*/
        top: 0;
        bottom: 0;
        width: 300px;
        left: -340px;
        transition: transform .3s ease-in-out;
    }
	
	.toggle {
    display: inline-block;
  }
	
	#ds42-nav:target {
    transform: translateX(340px);
  }
    
	.nav-logo-margin	{
		margin-top:20px;
	}
	
	.nav-close-icon {
		float: right;
	}
}



