/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i";


body {
    font-family: 'Lato', sans-serif;;
    background: #fafafa;
    overflow: hidden;
    overflow-y: scroll;
}

::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background: #008BAA;
}

::selection {
    color: #ffffff; 
    background: #008BAA;
}

h2{
    color: #008BAA;
}

h3{
    margin-top: 40px;
}



p {
    font-family: 'Lato', sans-serif;;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #2c2c2c;
}

#content img{
    min-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 20px;
    background: #2c2c2c;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    margin: -20px -20px 0px -20px;
    min-height: 80px;
    vertical-align: middle;
    z-index: 1;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    color: #ffffff;
    background-color: transparent;
    padding: 0;
    font-size: 24px;
    transition: all .3s;
    z-index: 1;
}

.navbar-btn:hover{
    background-color: transparent;
    transition: all .3s;
}

.navbar-btn:active{
    background-color: transparent;
    transition: all .3s;
}

.navbar-btn:focus{
    background-color: transparent;
    transition: all .3s;
}

.navbar-btn:active:focus{
    background-color: transparent;
    transition: all .3s;
}

.navbar-btn:focus{
    background-color: transparent;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #ffffff;
    color: #000000;
    transition: all 0.3s;
    border-right: thin solid #eeeeee;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
}

#sidebar.active {
    margin-left: 0px;
}

#sidebar .sidebar-header {
    padding: 19px 29px;
    background: #ffffff;
    border-bottom: thin solid #eeeeee;
}

#sidebar ul.components {
    padding: 20px 0px 0 0px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 10px 10px 40px;
    font-size: 1.1em;
    display: block;
    border-bottom: solid thin transparent;
}
#sidebar ul li a:hover {
    color: #008BAA;
    border-bottom: solid thin #008BAA;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #008BAA;
    border-bottom: solid thin #008BAA;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 54px !important;
    background: #ffffff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.navbar-header{
    display: none;
    transition: all 0.3s;
}

.navbar h1{
    margin: 5px 0px 0px 0px;
    font-weight: 200;
}

.content-title{
    margin-top: 6px;
}

.cont-padding{
    padding: 30px 90px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100vw;
    padding-left: 260px;
    padding-bottom: 150px;
}

.section{
    margin: 0px 15px 40px 15px;;
    padding-bottom: 40px;
    border-bottom: solid thin #cccccc;
    width: 100%;
}

.image-cont{
    min-width: 100%;
    height: auto;
}

.ov-mast{
    margin-top:60px;
    padding-bottom: 60px;
}

.mast-bg{
    background-color: #ffffff;
    margin-left:-20px;
    margin-right:-20px;
}

.align-top{
    margin-top: 0px;
}

.resp-img{
    width: 100%;
}

hr{
    margin-top: 60px;
    margin-bottom: 60px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        height: 100vh;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .navbar{
        padding: 15px 33px;
    }
    .navbar-header{
        display: inherit;
        transition: all 0.3s;
    }
    .ds-title{
        text-align: right;
    }
    .navbar .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
    #content{
        min-width: 100vw;        
    }
    .cont-padding{
        padding: 0px;
    }
    #content {
        padding-left: 0px;
    }
    
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #ffffff;
        color: #000000;
        transition: all 0.3s;
        border-right: thin solid #eeeeee;
        z-index: 2;
        position: inherit;
    }
   
    
}
