/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i";


body {
    font-family: 'Lato', sans-serif;;
    background: #fafafa;
}

p {
    font-family: 'Lato', sans-serif;;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #2c2c2c;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    margin: -20px -20px 0px -20px;
    min-height: 80px;
    vertical-align: middle;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #ffffff;
    color: #000000;
    transition: all 0.3s;
    border-right: thin solid #eeeeee;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 12px 39px;
    background: #ffffff;
    border-bottom: thin solid #eeeeee;
}

#sidebar ul.components {
    padding: 20px 9px 0 30px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #2c2c2c;
    background: #eeeeee;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #008BAA;
    background: #ffffff;
    
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 24px !important;
    background: #ffffff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.navbar-header{
    display: none;
    transition: all 0.3s;
}

.navbar h1{
    margin: 5px 0px 0px 0px;
}

.content-title{
    margin-top: 6px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .navbar{
        padding: 15px 20px;
    }
    .navbar-header{
        display: inherit;
        transition: all 0.3s;
    }
    .ds-title{
        text-align: right;
    }
    .navbar .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
    #content{
        min-width: 100vw;        
    }
}
