

@import 'allied_variables.scss';
@import 'ds42_variables.scss';


hr {
 border: none;
    height: 1px;
    color: $ds42_blue_daccent;
    background-color: $ds42_blue_daccent;
    margin-top: 10px;
    margin-bottom: 20px;
}

body {
    margin: 0px;
    font-family: $ds42_font;
}

p{
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
}

::-moz-selection { background: $ds42_blue_d; color: $ds42_white; }
::selection { background: $ds42_blue_d; color: $ds42_white; }

a:link {
    color: $ds42_blue;
    text-decoration: none;
}

a:visited {
    color: $ds42_blue;
    text-decoration: none;
}

h1{
    font-size: 44px;
    font-weight: 300;
}

h2{
    font-size: 26px;
    font-weight: 600;
}

h3{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 9px;
   
}

h4{
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 0px;
}

ul{
    font-family: $ds42_font;
    font-weight: 300;
}

li{
    margin-bottom: 15px;
}

.ds42-main-grid {
	display: grid;
	font-family: lato, verdana, arial, san-serif;
	grid-template-columns: 300px 1fr;
	grid-template-areas:
	"nav body"
}

.green-gradient {
    background-image: $ds42_green-gradient;
}

.red-gradient {
    background-image: $ds42_red-gradient;
}

.blue-gradient {
    background-image: $ds42_blue-gradient;
}

.purple-gradient {
    background-image: $ds42_purple-gradient;
}

.overview-image {
    mix-blend-mode: multiply;
}

/*Colors for Colors Page*/

.allied-red{
    background-color: $allied_red;

}

.allied-red-dark{
    background-color: $allied_red_d;

}

.allied-red-light{
    background-color: $allied_red_l;

}


/* Start of the Nav */
#ds42-nav {
	grid-area: nav;
	background-color: $ds42_blue_d;
    color: $allied_white;
    transition: all 0.3s;
    z-index: 2;
    position: fixed;
	height: 100vh;
    border-bottom: thin solid $allied_background_gray_l;
    list-style-type: none;

}
nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
	position: relative;
    display: block;
    margin-top: 1px;
    padding-top: 6px;
    padding-bottom: 9px;
    padding-left: 30px;
    width: 280px;
	outline: none;
	text-decoration: none;
	letter-spacing: 1px;
    font-weight: 300;
    font-size: 16px;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    
}

.nav-effect a {
	overflow: hidden;
    height: 1em;
    border-left: solid 3px $ds42_blue_d;

}

.nav-effect a span {
	position: relative;
    display: inline-block;
    white-space: nowrap;
}

.nav-effect a span::before {
	position: absolute;
	top: 25px;
	content: attr(data-hover);

	/*webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);*/
}

/*.nav-effect a:hover span,
.nav-effect a:focus span {
	-webkit-transform: translateY(-29px);
	-moz-transform: translateY(-29px);
	transform: translateY(-29px);
} */

.nav-effect a:hover {
    background-color: $ds42_blue_daccent;
    color: $ds42-grey;
    border-left: solid 3px $ds42_blue_l;
    padding-left: 33px;
    width: 277px;
    -webkit-transition: padding-left 0.2s ease-in-out, border-left 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -moz-transition: padding-left 0.2s ease-in-out, border-left 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -o-transition: padding-left 0.2s ease-in-out, border-left 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: padding-left 0.2s ease-in-out, border-left 0.2s ease-in-out, background-color 0.2s ease-in-out;
   
}

.ds42-nav-title {
    font-size: 18px;
    font-weight: 300;
	color: $allied_support_gray;
    margin: 10px 0px 10px 0px;
    padding-left: 30px;
}

.ds42-nav-category {
	font-size: 16px;
}

/* End of Nav */


.ds42-body {
	grid-area: body;
}


.toggle {
    display: none;
  }


/* START OF THE BODY GRID */

.page-grid {
display: grid;
grid-template-rows: auto auto;	
grid-template-areas:
    "pageoverview"
    "pagecontent";
}

.page-content{
    grid-area: pagecontent;
    padding: 100px;
}

.content-three-column-even img {
box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.20);
}

.content-three-column-even img:hover {
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.20);
    transition: box-shadow .3s ease-in-out;
    }

.content-column-right{
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: minmax(min-content, 2fr) minmax(min-content, 1fr);
    margin:100px 0px;
    grid-column-gap: 2%;

}

.content-column-left{
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 2fr);
    margin:100px 0px;
    grid-column-gap: 2%;

}

.content-column-three{
    display: grid;
    grid-template-areas: "left middle right";
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 2fr) minmax(min-content, 2fr);
    margin:100px 0px;
    grid-column-gap: 2%;

}

.content-column-three img{
    width: 100%;
}

.content-column-left img{
    width: 100%;

}

.content-column-right img{
    width: 100%;
}


.page-title h1 {
font-size: 24px;
font-weight: normal;
color: $allied_white;	
margin:0;	
}


.page-overview {
grid-area: pageoverview;
background-color: $allied_background_gray_l;	
padding: 100px;


}

.page-overview h2 {
font-size: 60px;
color: $allied_black_l;
font-weight: 300;
margin-top: 0px;
margin-bottom: 20px;
color: $ds42_white;
}

.page-overview p {
font-size: 16px;
color: $allied_black_l;
line-height: 32px;
color: $ds42_white;

}

.page-overview .content-column-left:first-of-type{
    margin: 0;
}

.page-content .content-column-left{
    margin-top: 0px;
}

.align-top{
    margin-top: 0px;
}

.color-container{
    display: grid;
    grid-column-gap: 1%;
    grid-row-gap:15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr);
}

.color-container > div{
    padding: 20px;
}

.color-container > div > p{
    margin:0px;
}

.color-block{
    display: grid;

}

.color-block p{
    color: $ds42_white;
    font-weight: 300;
    font-size: 24px;
}

.color-data{
    display: grid;
    border: solid 1px $ds42_blue_daccent;

}

.color-data p{
    margin-top: 0px;

}

.color-data p:last-of-type{
    margin-bottom: 0px;

}

.color-data{
    font-size: 24px;
    text-align: middle;
    vertical-align: top;
    margin-left: 12px;
}

.copy-icon{
    margin-left: 8px;
    cursor: pointer;
}


/*Four Column Layout Grid*/

.four-column-layout{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
    grid-column-gap: 4%;
}

.overview-section-cta{
    padding: 20px;
    border: solid $allied_white 1px;
    border-radius: 2px;

}

.overview-section-cta img{
    width: 100%;
}

.overview-section-desc{
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}

a, div.overview-section-cta, p, h4{
    text-decoration: none;
    color: inherit;
}

a .overview-section-cta:hover{
    border: solid $allied_support_gray_l 1px;
    -webkit-transition: border .2s ease-in-out;
    -moz-transition: border .2s ease-in-out;
    -ms-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

/*Horizontal Scroll Indicator*/
/* Style the header: fixed position (always stay at the top) */
.prog-bar {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    background-color: transparent;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 3px;
    background: transparent;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 3px;
    background: $ds42_purple-gradient;
    width: 0%;
  }

/*CodePen Edits*/

.cp_embed_wrapper{
    margin-bottom:40px;
}


@media only screen and (max-width: 768px) {
	.ds42-main-grid {
	grid-template-columns: 1fr;
	grid-template-areas:
		"nav" 
		"body";
}


	#ds42-nav {
        position: fixed; 
        overflow-y: scroll;
        top: 0;
        bottom: 0;
        width: 310px;
        left: -340px;
        transition: transform .3s ease-in-out;
    }
    
    #ds-42-nav::-webkit-scrollbar { 
        display: none; 
    }

   
	.toggle {
    display: inline-block;
    margin: 12px 0px 20px 12px;
  }
	
	#ds42-nav:target {
    transform: translateX(340px);
  }
    
	.nav-lgo-padding	{
        padding-top:20px;
        padding-left: 15px;
	}
	
	.nav-close-icon {
        float: right;
        margin-right: 12px;
        margin-top: 12px;
    }

    .content-three-column-even {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .content-column-left{
        grid-template-areas:
        "left"
        "right";
        grid-template-columns: 1fr;
        margin:50px 0px;
    
    }

    .content-column-right{
        grid-template-areas:
        "left"
        "right";
        grid-template-columns: 1fr;
        margin:50px 0px;
    
    }

    .content-column-three{
        display: grid;
        grid-template-areas:
        "left"
        "middle"
        "right";
        grid-template-columns: 1fr;
        margin:10px 0px;
    
    }

    .content-column-left img{
        width: 100%;
    
    }

    .content-column-right img{
        width: 100%;
    
    }

    .hide-on-mobile{
        display: none;
    }

    .page-overview {
        padding: 10px;	
        
    }

    .page-content {
        padding: 10px;	
        
    }
}
