$allied_red: #DA291C;
$allied_red_l: #FF6147;
$allied_red_d: #9E0000;

$allied_blue: #00BBDC;
$allied_blue_l: #63EEFF;
$allied_blue_d: #008BAA;

$allied_green: #8DC63F;
$allied_green_l: #C0F970;
$allied_green_d: #5B9500;

$allied_orange: #F2A900;
$allied_orange_l: #FFDA4A;
$allied_orange_d: #BA7A00;

$allied_black: #000000;
$allied_black_l: #2c2c2c;
$allied_black_overlay: rgba(0, 0, 0, 0.8);

$allied_support_gray: #979797;
$allied_support_gray_l: #e4e4e4;
$allied_background_gray_l: #f4f4f4;

$allied_white: rgba(255, 255, 255, 1);
$allied_white_overlay: rgba(255, 255, 255, 0.9);

$allied_transparent: rgba(255, 255, 255, 0);

$allied_box_shadow: rgba(0, 0, 0, 0.3);


$allied_font: 'Lato', Verdana, Arial, Helvetica, sans-serif;



hr {
 border: none;
    height: 1px;
    color: #e4e4e4; 
    background-color: #e4e4e4; 
}

body {
	margin: 0px;
}

p{
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
}

h1{
    font-size: 44px;
    font-weight: 300;
}

h2{
    font-size: 26px;
    font-weight: 600;
}

h3{
    font-size: 24px;
    font-weight: 300;
}

.ds42-main-grid {
	display: grid;
	font-family: lato, verdana, arial, san-serif;
	grid-template-columns: 300px 1fr;
	grid-template-areas:
	"nav body"
}

/* Start of the Nav */
#ds42-nav {
	grid-area: nav;
	background-color: $allied_white;
    color: $allied_black;
    transition: all 0.3s;
    border-right: thin solid $allied_background_gray_l;
    z-index: 2;
    position: fixed;
	height: 100vh;
	padding: 10px 10px 0px 10px;
    border-bottom: thin solid $allied_background_gray_l;
	list-style-type: none;
}

#ds42-nav ul {
	list-style-type: none;
	padding: 0px;
}

#ds42-nav ul li a {
    padding: 10px 10px 10px 0px;
    color: $allied_blue_d;
    display: block;
    border-bottom: solid thin transparent;
	text-decoration: none;
	
}
#ds42-nav ul li a:hover {
    color: $allied_blue_d;
    text-decoration: underline;
	background-color: #008bAA;
	transition: background-color text-decoration .3s ease-in-out;
	
}

.ds42-nav-title {
	font-size: 18px;
	color: #2c2c2c;
	margin: 10px 0px 10px 0px;
	
}

.ds42-nav-category {
	font-size: 16px;
}

/* End of Nav */


.ds42-body {
	grid-area: body;
}


.toggle {
    display: none;
  }




/* START OF THE BODY GRID */

.page-grid {
display: grid;
grid-template-rows: 100px auto auto;	
grid-template-areas:
	"pagetitle" 
    "pageoverview"
    "pagecontent";
}

.page-content{
    grid-area: pagecontent;
    padding: 100px;
}

.content-column-right{
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 2fr 1fr;
    margin:100px 0px;
    grid-column-gap: 2%;

}

.content-column-left{
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 2fr);
    margin:100px 0px;
    grid-column-gap: 2%;

}

.content-column-three{
    display: grid;
    grid-template-areas: "left middle right";
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 2fr) minmax(min-content, 2fr);
    margin:100px 0px;
    grid-column-gap: 2%;

}

.content-column-three img{
    width: 100%;
}

.content-column-left img{
    width: 100%;

}

.content-column-right img{
    width: 100%;

}

.page-title {
grid-area: pagetitle;	
background-color: #2c2c2c;	
padding-left: 15px;	
padding-top: 10px;
color: $allied_white;
font-size: 24px;
padding: 35px 100px;
}

.page-title h1 {
font-size: 24px;
font-weight: normal;
color: #FFFFFF;	
margin:0;	
}


.page-overview {
grid-area: pageoverview;
background-color: #f4f4f4;	
padding: 100px;	

}

.page-overview h2 {
font-size: 60px;
color: #2c2c2c;
font-weight: 300;
margin-top: 0px;
}

.page-overview p {
font-size: 16px;
color: #2c2c2c;
line-height: 32px;

}

.page-overview .content-column-left{
    margin: 0;
}


@media only screen and (max-width: 768px) {
	.ds42-main-grid {
	grid-template-columns: 1fr;
	grid-template-areas:
		"nav" 
		"body";
}
	
	#ds42-nav {
        position: fixed; /* or choose `absolute` depending on desired behavior*/
        top: 0;
        bottom: 0;
        width: 300px;
        left: -340px;
        transition: transform .3s ease-in-out;
    }
	
	.toggle {
    display: inline-block;
  }
	
	#ds42-nav:target {
    transform: translateX(340px);
  }
    
	.nav-logo-margin	{
		margin-top:20px;
	}
	
	.nav-close-icon {
		float: right;
    }
    
    .content-column-left{
        grid-template-areas:
        "left"
        "right";
        grid-template-columns: 1fr;
        margin:50px 0px;
    
    }

    .content-column-right{
        grid-template-areas:
        "left"
        "right";
        grid-template-columns: 1fr;
        margin:50px 0px;
    
    }

    .content-column-three{
        display: grid;
        grid-template-areas:
        "left"
        "middle"
        "right";
        grid-template-columns: 1fr;
        margin:10px 0px;
    
    }

    .content-column-left img{
        width: 100%;
    
    }

    .content-column-right img{
        width: 100%;
    
    }

    .hide-on-mobile{
        display: none;
    }

    .page-overview {
        padding: 10px;	
        
    }

    .page-content {
        padding: 10px;	
        
    }
}



