

@import 'allied_variables.scss';
@import 'ds42_variables.scss';


hr {
 border: none;
    height: 1px;
    color: $ds42_blue_daccent;
    background-color: $ds42_blue_daccent;
    margin-top: 10px;
    margin-bottom: 20px;
}

body {
    margin: 0px;
    font-family: $allied_font;
}

p{
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
}

h1{
    font-size: 44px;
    font-weight: 300;
}

h2{
    font-size: 26px;
    font-weight: 600;
}

h3{
    font-size: 24px;
    font-weight: 300;
}

.ds42-main-grid {
	display: grid;
	font-family: lato, verdana, arial, san-serif;
	grid-template-columns: 300px 1fr;
	grid-template-areas:
	"nav body"
}

/* Start of the Nav */
#ds42-nav {
	grid-area: nav;
	background-color: $ds42_blue_d;
    color: $allied_white;
    transition: all 0.3s;
    z-index: 2;
    position: fixed;
	height: 100vh;
    border-bottom: thin solid $allied_background_gray_l;
    list-style-type: none;

}
nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
	position: relative;
    display: block;
    margin-top: 1px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 30px;
    width: 280px;
	outline: none;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
    font-weight: 300;
    font-size: 16px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.nav-effect a {
	overflow: hidden;
    height: 1em;

}

.nav-effect a span {
	position: relative;
    display: inline-block;
    white-space: nowrap;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    
}

.nav-effect a span::before {
	position: absolute;
	top: 25px;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.nav-effect a:hover span,
.nav-effect a:focus span {
	-webkit-transform: translateY(-29px);
	-moz-transform: translateY(-29px);
	transform: translateY(-29px);
} 

.nav-effect a:hover {
    background-color: $ds42_blue;
    transition: background-color font-weight .3s ease-in-out;
}



#ds42-nav ul {
	list-style-type: none;
	padding: 0px;
}

#ds42-nav ul li a {
    padding: 10px 10px 10px 0px;
    color: $allied_support_gray_l;
    font-weight: 300;
    display: block;
    border-bottom: solid thin transparent;
	text-decoration: none;
	
}
#ds42-nav ul li a:hover {
    color: $allied_white;
    text-decoration: underline;
	background-color: $allied_blue_d;
	transition: background-color text-decoration .3s ease-in-out;
	
}

.ds42-nav-title {
    font-size: 18px;
    font-weight: 300;
	color: $allied_support_gray;
    margin: 10px 0px 10px 0px;
    padding-left: 30px;
}

.ds42-nav-category {
	font-size: 16px;
}

/* End of Nav */


.ds42-body {
	grid-area: body;
}


.toggle {
    display: none;
  }




/* START OF THE BODY GRID */

.page-grid {
display: grid;
grid-template-rows: 100px auto auto;	
grid-template-areas:
	"pagetitle" 
    "pageoverview"
    "pagecontent";
}

.page-content{
    grid-area: pagecontent;
    padding: 100px;
}

.content-column-right{
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 2fr 1fr;
    margin:100px 0px;
    grid-column-gap: 2%;

}

.content-column-left{
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 2fr);
    margin:100px 0px;
    grid-column-gap: 2%;

}

.content-column-three{
    display: grid;
    grid-template-areas: "left middle right";
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 2fr) minmax(min-content, 2fr);
    margin:100px 0px;
    grid-column-gap: 2%;

}

.content-column-three img{
    width: 100%;
}

.content-column-left img{
    width: 100%;

}

.content-column-right img{
    width: 100%;

}

.page-title {
grid-area: pagetitle;	
background-color: $allied_black_l;	
padding-left: 15px;	
padding-top: 10px;
color: $allied_white;
font-size: 24px;
padding: 35px 100px;
}

.page-title h1 {
font-size: 24px;
font-weight: normal;
color: $allied_white;	
margin:0;	
}


.page-overview {
grid-area: pageoverview;
background-color: $allied_background_gray_l;	
padding: 100px;	

}

.page-overview h2 {
font-size: 60px;
color: $allied_black_l;
font-weight: 300;
margin-top: 0px;
}

.page-overview p {
font-size: 16px;
color: $allied_black_l;
line-height: 32px;

}

.page-overview .content-column-left{
    margin: 0;
}


@media only screen and (max-width: 768px) {
	.ds42-main-grid {
	grid-template-columns: 1fr;
	grid-template-areas:
		"nav" 
		"body";
}
	
	#ds42-nav {
        position: fixed; /* or choose `absolute` depending on desired behavior*/
        top: 0;
        bottom: 0;
        width: 310px;
        left: -340px;
        transition: transform .3s ease-in-out;
    }
	
	.toggle {
    display: inline-block;
    margin: 12px 0px 20px 12px;
  }
	
	#ds42-nav:target {
    transform: translateX(340px);
  }
    
	.nav-lgo-padding	{
        padding-top:20px;
        padding-left: 15px;
	}
	
	.nav-close-icon {
        float: right;
        margin-right: 12px;
        margin-top: 12px;
    }

    
    .content-column-left{
        grid-template-areas:
        "left"
        "right";
        grid-template-columns: 1fr;
        margin:50px 0px;
    
    }

    .content-column-right{
        grid-template-areas:
        "left"
        "right";
        grid-template-columns: 1fr;
        margin:50px 0px;
    
    }

    .content-column-three{
        display: grid;
        grid-template-areas:
        "left"
        "middle"
        "right";
        grid-template-columns: 1fr;
        margin:10px 0px;
    
    }

    .content-column-left img{
        width: 100%;
    
    }

    .content-column-right img{
        width: 100%;
    
    }

    .hide-on-mobile{
        display: none;
    }

    .page-overview {
        padding: 10px;	
        
    }

    .page-content {
        padding: 10px;	
        
    }
}



