/*New DS42 Colors*/
hr {
  border: none;
  height: 1px;
  color: #002E45;
  background-color: #002E45;
  margin-top: 10px;
  margin-bottom: 20px;
}

body {
  margin: 0px;
  font-family: "Lato", Verdana, Arial, Helvetica, sans-serif;
}

p {
  line-height: 28px;
  font-size: 16px;
  font-weight: 300;
}

a:link {
  color: #799DB6;
  text-decoration: none;
}

a:visited {
  color: #799DB6;
  text-decoration: none;
}

h1 {
  font-size: 44px;
  font-weight: 300;
}

h2 {
  font-size: 26px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 9px;
}

h4 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0px;
}

.ds42-main-grid {
  display: grid;
  font-family: lato, verdana, arial, san-serif;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "nav body";
}

.green-gradient {
  background-image: linear-gradient(to right top, #007758, #0a805e, #148865, #1c916b, #249a72, #39a675, #4cb177, #5fbd79, #83cd76, #a8dd72, #cfeb70, #f9f871);
}

.red-gradient {
  background-image: linear-gradient(to right top, #792632, #7f2837, #852b3c, #8a2d41, #903046, #96324b, #9b3550, #a13755, #a8395b, #af3b61, #b63d67, #bd3f6e);
}

.blue-gradient {
  background-image: linear-gradient(to right top, #001d2c, #002434, #002c3d, #003445, #003c4d, #004454, #004b5b, #005361, #005c67, #00646c, #006d71, #007674);
}

.overview-image {
  mix-blend-mode: multiply;
}

/* Start of the Nav */
#ds42-nav {
  grid-area: nav;
  background-color: #001D2C;
  color: white;
  transition: all 0.3s;
  z-index: 2;
  position: fixed;
  height: 100vh;
  border-bottom: thin solid #f4f4f4;
  list-style-type: none;
}

nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav a {
  position: relative;
  display: block;
  margin-top: 1px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 30px;
  width: 280px;
  outline: none;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 16px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.nav-effect a {
  overflow: hidden;
  height: 1em;
}

.nav-effect a span {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.nav-effect a span::before {
  position: absolute;
  top: 25px;
  content: attr(data-hover);
  font-weight: 700;
  /*webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);*/
}

.nav-effect a:hover span,
.nav-effect a:focus span {
  /*-webkit-transform: translateY(-29px);
	-moz-transform: translateY(-29px);
	transform: translateY(-29px);*/
}

.nav-effect a:hover {
  background-color: #002E45;
  color: white;
  font-weight: 700;
  transition: background-color font-weight .3s ease-in-out;
}

#ds42-nav ul {
  list-style-type: none;
  padding: 0px;
}

#ds42-nav ul li a {
  padding: 10px 10px 10px 0px;
  color: #e4e4e4;
  font-weight: 300;
  display: block;
  border-bottom: solid thin transparent;
  text-decoration: none;
}

#ds42-nav ul li a:hover {
  color: white;
  text-decoration: underline;
  background-color: #008BAA;
  transition: background-color text-decoration .3s ease-in-out;
}

.ds42-nav-title {
  font-size: 18px;
  font-weight: 300;
  color: #979797;
  margin: 10px 0px 10px 0px;
  padding-left: 30px;
}

.ds42-nav-category {
  font-size: 16px;
}

/* End of Nav */
.ds42-body {
  grid-area: body;
}

.toggle {
  display: none;
}

/* START OF THE BODY GRID */
.page-grid {
  display: grid;
  grid-template-rows: 100px auto auto;
  grid-template-areas: "pagetitle"  "pageoverview" "pagecontent";
}

.page-content {
  grid-area: pagecontent;
  padding: 100px;
}

.content-three-column-even {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr);
  grid-column-gap: 2%;
}

.content-three-column-even img {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.content-three-column-even img:hover {
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow .3s ease-in-out;
}

.content-column-right {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 2fr 1fr;
  margin: 100px 0px;
  grid-column-gap: 2%;
}

.content-column-left {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 2fr);
  margin: 100px 0px;
  grid-column-gap: 2%;
}

.content-column-three {
  display: grid;
  grid-template-areas: "left middle right";
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 2fr) minmax(min-content, 2fr);
  margin: 100px 0px;
  grid-column-gap: 2%;
}

.content-column-three img {
  width: 100%;
}

.content-column-left img {
  width: 100%;
}

.content-column-right img {
  width: 100%;
}

.page-title {
  grid-area: pagetitle;
  background-color: #2c2c2c;
  padding-left: 15px;
  padding-top: 10px;
  color: white;
  font-size: 24px;
  padding: 35px 100px;
}

.page-title h1 {
  font-size: 24px;
  font-weight: normal;
  color: white;
  margin: 0;
}

.page-overview {
  grid-area: pageoverview;
  background-color: #f4f4f4;
  padding: 100px;
}

.page-overview h2 {
  font-size: 60px;
  color: #2c2c2c;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #ffffff;
}

.page-overview p {
  font-size: 16px;
  color: #2c2c2c;
  line-height: 32px;
  color: #ffffff;
}

.page-overview .content-column-left {
  margin: 0;
}

/*Four Column Lahyout Grid*/
.four-column-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 4%;
}

.overview-section-cta {
  padding: 20px;
  border: solid white 1px;
  border-radius: 2px;
}

.overview-section-cta img {
  width: 100%;
}

.overview-section-desc {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}

a, div.overview-section-cta, p, h4 {
  text-decoration: none;
  color: inherit;
}

a .overview-section-cta:hover {
  border: solid #e4e4e4 1px;
  -webkit-transition: border .2s ease-in-out;
  -moz-transition: border .2s ease-in-out;
  -ms-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

/*CodePen Edits*/
.cp_embed_wrapper {
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .ds42-main-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "nav"  "body";
  }
  #ds42-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 310px;
    left: -340px;
    transition: transform .3s ease-in-out;
  }
  .toggle {
    display: inline-block;
    margin: 12px 0px 20px 12px;
  }
  #ds42-nav:target {
    transform: translateX(340px);
  }
  .nav-lgo-padding {
    padding-top: 20px;
    padding-left: 15px;
  }
  .nav-close-icon {
    float: right;
    margin-right: 12px;
    margin-top: 12px;
  }
  .content-three-column-even {
    display: grid;
    grid-template-columns: 1fr;
  }
  .content-column-left {
    grid-template-areas: "left" "right";
    grid-template-columns: 1fr;
    margin: 50px 0px;
  }
  .content-column-right {
    grid-template-areas: "left" "right";
    grid-template-columns: 1fr;
    margin: 50px 0px;
  }
  .content-column-three {
    display: grid;
    grid-template-areas: "left" "middle" "right";
    grid-template-columns: 1fr;
    margin: 10px 0px;
  }
  .content-column-left img {
    width: 100%;
  }
  .content-column-right img {
    width: 100%;
  }
  .hide-on-mobile {
    display: none;
  }
  .page-overview {
    padding: 10px;
  }
  .page-content {
    padding: 10px;
  }
}
