/*New DS42 Colors*/

$ds42_blue_l: #94C5CC;
$ds42_blue: #799DB6;
$ds42_blue_d: #001D2C;
$ds42_grey: #D0D0D0;
$ds42_grey_d: #74767A;
$ds42_blue_daccent: #002E45;
$ds42_white: #ffffff;
$ds42_red-gradient: linear-gradient(to right top, #792632, #7f2837, #852b3c, #8a2d41, #903046, #96324b, #9b3550, #a13755, #a8395b, #af3b61, #b63d67, #bd3f6e);
$ds42_blue-gradient: linear-gradient(to right top, #001d2c, #002434, #002c3d, #003445, #003c4d, #004454, #004b5b, #005361, #005c67, #00646c, #006d71, #007674);
$ds42_green-gradient: linear-gradient(to right top, #007758, #0a805e, #148865, #1c916b, #249a72, #39a675, #4cb177, #5fbd79, #83cd76, #a8dd72, #cfeb70, #f9f871);