body {
  margin: 0px;
  padding: 0px;
}

/*PRIMARY BUTTON*/
.ft-button {
  height: 36px;
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  font-family: verdana, arial;
  font-size: 12px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin: 15px;
  -webkit-transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.2s; /* Safari */
  -moz-transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.2s; /* FireFox */
  -ms-transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.2s; /* Microsoft */
  transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.2s;
}

.ft-button:hover {
  cursor: pointer;
}

.ft-button:active {
  -webkit-transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s; /* Safari */
  -moz-transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s; /* FireFox */
  -ms-transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s; /* Microsoft */
  transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s;
}
.ft-button:focus{
  outline: 0;
}

/*BUTTON WITH ICON*/
.btn-icon {
  line-height: 35px;
  -webkit-transition: color ease-in-out 0.01s; /* Safari */
  -moz-transition: color ease-in-out 0.01s; /* FireFox */
  -ms-transition: color ease-in-out 0.01s; /* Microsoft */
  transition: color ease-in-out 0.01s;
}

/*ICON*/
.ft-icon {
  background-image: url(../images/add.svg);
  float: right;
  width: 18px;
  height: 18px;
  margin-left: 6px;
  margin-top: 8px;
  -webkit-transition: background-image ease-in-out .01s; /* Safari */
  -moz-transition: background-image ease-in-out .01s; /* FireFox */
  -ms-transition: background-image ease-in-out .01s; /* Microsoft */
  transition: background-image ease-in-out .01s;
}

/*BUTTON RED*/
.btn-red {
  background-color: #9E0000;
  color: #ffffff;
}

.btn-red:hover {
  background: #da291c;
}

.btn-red:active {
  background: #9E0000;
}

/*BUTTON RED WITH ICON*/
.btn-red span.ft-icon {
/*background-color: white;
-webkit-mask-image: url(images/icon.svg);
mask-image: url(images/icon.svg);*/
background-image: url(../images/add-white.svg);
}

/*BUTTON GREEN*/
.btn-green {
  background-color: #c4d600;
  color: #191919;
}

.btn-green:hover {
  background: #8FA500;
}

.btn-green:active {
  background: #303030;
  color: #FFFFFF;
}

/*BUTTON GREEN WITH ICON*/
.btn-green span.ft-icon {
  /*background-color: #444444;
  -webkit-mask-image: url(images/icon.svg);
  mask-image: url(images/icon.svg);*/
  background-image: url(../images/add.svg);
}

.btn-green:active span.ft-icon {
/*background-color: white;
-webkit-mask-image: url(images/icon.svg);
mask-image: url(images/icon.svg);*/
background-image: url(../images/add-white.svg);
}

/*BUTTON GRAY*/
.btn-gray {
  background-color: #F4F4F4;
  color: #191919;
  -webkit-transition: color ease-in-out 0.01s; /* Safari */
  -moz-transition: color ease-in-out 0.01s; /* FireFox */
  -ms-transition: color ease-in-out 0.01s; /* Microsoft */
  transition: color ease-in-out 0.01s;
}

.btn-gray:hover {
  background: #979797;
  color: #FFFFFF;
}

.btn-gray:active{
  background: #F4F4F4;
  color: #191919;
}

/*SECONDARY BUTTON*/
.ft-button-2nd {
  height: 36px;
  border-radius: 2px;
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
  font-family: verdana, arial;
  color: #008BAA;
  font-size: 12px;
  margin: 15px;
  -webkit-transition: border .2s ease-in-out;
  -moz-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  -ms-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
.ft-button-2nd:hover {
  padding: 9px 15px;
  cursor: pointer;
  color: #008BAA;
  font-family: Verdana;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #008baa;
  border-radius: 2px;
  -webkit-transition: border ease-in-out 0.2s, background-color ease-in-out 0.2s, color ease-in-out 0.2s; /* Safari */
  -moz-transition: border ease-in-out 0.2s, background-color ease-in-out 0.2s, color ease-in-out 0.2s; /* FireFox */
  -ms-transition: border ease-in-out 0.2s, background-color ease-in-out 0.2s, color ease-in-out 0.2s; /* Microsoft */
  transition: border ease-in-out 0.2s, background-color ease-in-out 0.2s, color ease-in-out 0.2s;

}

.ft-button-2nd:active {
  padding: 9px 15px;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 12px;
  background-color: #008baa;
  border: 1px solid #008baa;
  border-radius: 2px;
  -webkit-transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s; /* Safari */
  -moz-transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s; /* FireFox */
  -ms-transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s; /* Microsoft */
  transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s;
}

.ft-button-2nd:focus{
  outline: none;
}

/*LINK BUTTON WITH ICON*/
.ft-button-link-icon {
  height: 36px;
  border-radius: 2px;
  background-color: #FFFFFF;
  line-height: 33px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  color: #008BAA;
  font-family: verdana, arial;
  font-size: 12px;
  margin: 15px;
  -webkit-transition: text-decoration ease-in-out 0.01s; /* Safari */
  -moz-transition: text-decoration ease-in-out 0.01s; /* FireFox */
  -ms-transition: text-decoration ease-in-out 0.01s; /* Microsoft */
  transition: text-decoration ease-in-out 0.01s;
}

.ft-button-link-icon:hover {
	text-decoration: underline;
	cursor: pointer;
	-webkit-transition: text-decoration ease-in-out 0.01s; /* Safari */
	-moz-transition: text-decoration ease-in-out 0.01s; /* FireFox */
	-ms-transition: text-decoration ease-in-out 0.01s; /* Microsoft */
	transition: text-decoration ease-in-out 0.01s;
}

	.ft-button-link-icon:active {
	background: #FFFFFF;
	color: #008BAA;
	text-decoration: none;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s;
}

	.ft-button-link-icon:focus{
	outline: 0;
	}

	.ft-button-link-icon span.icon {
	/*background-color: #9E0000;
    -webkit-mask-image: url(images/pdf.svg);
    mask-image: url(images/pdf.svg);*/
	background-image: url(../images/pdf.svg);
    float: left;
    width: 18px;
    height: 18px;
	margin-right: 6px;
	margin-top: 7px;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s;

}

	.ft-button-link-icon:hover span.icon {
	/*background-color: #DA291C;*/
	transform: scale(1.1);
    /*-webkit-mask-image: url(images/pdf.svg);
    mask-image: url(images/pdf.svg);*/
    float: left;
    width: 18px;
    height: 18px;
	margin-top: 7px;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s;


	}


	.ft-button-link-icon:active span.icon {
	background-color: #9E0000;
	transform: scale(1);
    -webkit-mask-image: url(../images/pdf.svg);
    mask-image: url(../images/pdf.svg);

    float: left;
    width: 18px;
    height: 18px;
	margin-right: 6px;
	margin-top: 7px;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease-in-out .02s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease-in-out .02s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease-in-out .02s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease-in-out .02s;
	}

/*BACK BUTTON*/
.ft-button-back {
    height: 36px;
    border-radius: 2px;
	color: #979797;
    background-color: #FFFFFF;
	line-height: 33px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
	font-family: verdana, arial;
    font-size: 12px;
    margin: 15px;
	-webkit-transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s; /* Safari */
	-moz-transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s; /* Microsoft */
    transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s;


}

.ft-button-back:hover {
text-decoration: underline;
cursor: pointer;
-webkit-transition: text-decoration ease-in-out 0.02s; /* Safari */
-moz-transition: text-decoration ease-in-out 0.02s; /* FireFox */
-ms-transition: text-decoration ease-in-out 0.02s; /* Microsoft */
transition: text-decoration ease-in-out 0.02s;
}

	.ft-button-back:active {
	background: #FFFFFF;
	color: #191919;
	text-decoration: none;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s;
	}

	.ft-button-back:focus{
	outline: 0;
	}

		@keyframes ft-button-back {
	16.65% {
		transform: translateX(2px);
	}

	33.3% {
		transform: translateX(-2px);
	}

	49.95% {
		transform: translateX(1.5px);
	}

	66.6% {
		transform: translateX(-1.5px);
	}

	83.25% {
		transform: translateX(1px);
	}

	100% {
		transform: translateX(0);
	}
}

	.ft-button-back span.icon {
	background-image: url(../images/arrow-back.svg);
    width: 12px;
    height: 12px;
	margin-right: 6px;
	margin-top: 10px;
    float: left;


}

	.ft-button-back:hover span.icon {
	background-image: url(../images/arrow-back.svg);
    float: left;
	margin-top: 10px;
	animation-name: ft-button-back;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s;

	}


	.ft-button-back:active span.icon {
    float: left;
	margin-right: 6px;
	margin-top: 10px;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s;
    }

    /*END BUTTONS*/
