body {
  margin: 0px;
  padding: 0px;
}

/*PRIMARY BUTTON*/
[class*="ft-button"] {
  height: 36px;
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  font-family: verdana, arial;
  font-size: 12px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin: 15px;
  -webkit-transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.2s; /* Safari */
  -moz-transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.2s; /* FireFox */
  -ms-transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.2s; /* Microsoft */
  transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.2s;
  text-transform: uppercase;
}

[class*="ft-button"]:hover {
  cursor: pointer;
}

[class*="ft-button"]:active {
  -webkit-transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s; /* Safari */
  -moz-transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s; /* FireFox */
  -ms-transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s; /* Microsoft */
  transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s;
}
[class*="ft-button"]:focus{
  outline: 0;
}

/*BUTTON WITH ICON*/
[class*="icon"] {
  line-height: 35px;
}



/*ICON*/
[class*="icon"]:after {
  float: right;
  width: 18px;
  height: 18px;
  margin-left: 6px;
  margin-top: 4px;
  -webkit-transition: content ease-in-out .2s; /* Safari */
  -moz-transition: content ease-in-out .2s; /* FireFox */
  -ms-transition: content ease-in-out .2s; /* Microsoft */
  transition: content ease-in-out .2s;
}

[class*="icon-add"]:after {
  content: url(../images/add.svg);
}

[class*="icon-add-white"]:after {
  content: url(../images/add-white.svg);
}

/*BUTTON RED*/
[class*="ft-button-red"] {
  background-color: #9E0000;
  color: #ffffff;
}

[class*="ft-button-red"]:hover {
  background: #da291c;
}

[class*="ft-button-red"]:active {
  background: #9E0000;
}

/*BUTTON GREEN*/
[class*="ft-button-green"] {
  background-color: #c4d600;
  color: #191919;
}

[class*="ft-button-green"]:hover {
  background: #8FA500;
}

[class*="ft-button-green"]:active {
  background: #303030;
  color: #FFFFFF;
}

/*BUTTON GREEN WITH ICON*/
.ft-button-green-icon-add:active:after {
content: url(../images/add-white.svg);
-webkit-transition: content ease-in-out 0.01s; /* Safari */
-moz-transition: content ease-in-out 0.01s; /* FireFox */
-ms-transition: content ease-in-out 0.01s; /* Microsoft */
transition: content ease-in-out 0.01s;
}

.ft-button-green-icon-add-white:active:after {
content: url(../images/add.svg);
-webkit-transition: content ease-in-out 0.01s; /* Safari */
-moz-transition: content ease-in-out 0.01s; /* FireFox */
-ms-transition: content ease-in-out 0.01s; /* Microsoft */
transition: content ease-in-out 0.01s;
}


/*BUTTON GRAY*/
.btn-gray {
  background-color: #F4F4F4;
  color: #191919;
}

.btn-gray:hover {
  background: #e3e3e3;
}

.btn-gray:active{
  background: #F4F4F4;
}

/*SECONDARY BUTTON*/
.ft-button-2nd {
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: #FFFFFF;
  color: #008BAA;
  -webkit-transition: border .2s ease-in-out;
  -moz-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  -ms-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
.ft-button-2nd:hover {
  cursor: pointer;
  color: #008BAA;
  background-color: transparent;
  border: 1px solid #008baa;
  -webkit-transition: border ease-in-out 0.2s, background-color ease-in-out 0.2s, color ease-in-out 0.2s; /* Safari */
  -moz-transition: border ease-in-out 0.2s, background-color ease-in-out 0.2s, color ease-in-out 0.2s; /* FireFox */
  -ms-transition: border ease-in-out 0.2s, background-color ease-in-out 0.2s, color ease-in-out 0.2s; /* Microsoft */
  transition: border ease-in-out 0.2s, background-color ease-in-out 0.2s, color ease-in-out 0.2s;

}

.ft-button-2nd:active {
  cursor: pointer;
  color: #ffffff;
  background-color: #008baa;
  border: 1px solid #008baa;
  -webkit-transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s; /* Safari */
  -moz-transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s; /* FireFox */
  -ms-transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s; /* Microsoft */
  transition: background-color ease-in-out 0.01s, color ease-in-out 0.01s;
}

.ft-button-2nd:focus{
  outline: none;
}

/*LINK BUTTON WITH ICON*/
.ft-button-link-icon {
  height: 36px;
  border-radius: 2px;
  background-color: #FFFFFF;
  line-height: 33px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  color: #008BAA;
  font-family: verdana, arial;
  font-size: 12px;
  margin: 15px;
  -webkit-transition: text-decoration ease-in-out 0.01s; /* Safari */
  -moz-transition: text-decoration ease-in-out 0.01s; /* FireFox */
  -ms-transition: text-decoration ease-in-out 0.01s; /* Microsoft */
  transition: text-decoration ease-in-out 0.01s;
}

.ft-button-link-icon:hover {
	text-decoration: underline;
	cursor: pointer;
	-webkit-transition: text-decoration ease-in-out 0.01s; /* Safari */
	-moz-transition: text-decoration ease-in-out 0.01s; /* FireFox */
	-ms-transition: text-decoration ease-in-out 0.01s; /* Microsoft */
	transition: text-decoration ease-in-out 0.01s;
}

	.ft-button-link-icon:active {
	background: #FFFFFF;
	color: #008BAA;
	text-decoration: none;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s;
}

	.ft-button-link-icon:focus{
	outline: 0;
	}

	.ft-button-link-icon span.icon {
	/*background-color: #9E0000;
    -webkit-mask-image: url(images/pdf.svg);
    mask-image: url(images/pdf.svg);*/
	background-image: url(../images/pdf.svg);
    float: left;
    width: 18px;
    height: 18px;
	margin-right: 6px;
	margin-top: 7px;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s;

}

	.ft-button-link-icon:hover span.icon {
	/*background-color: #DA291C;*/
	transform: scale(1.1);
    /*-webkit-mask-image: url(images/pdf.svg);
    mask-image: url(images/pdf.svg);*/
    float: left;
    width: 18px;
    height: 18px;
	margin-top: 7px;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease .08s;


	}


	.ft-button-link-icon:active span.icon {
	background-color: #9E0000;
	transform: scale(1);
    -webkit-mask-image: url(../images/pdf.svg);
    mask-image: url(../images/pdf.svg);

    float: left;
    width: 18px;
    height: 18px;
	margin-right: 6px;
	margin-top: 7px;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease-in-out .02s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease-in-out .02s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease-in-out .02s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, mask-image ease-in-out .02s, transform ease-in-out .02s;
	}

/*BACK BUTTON*/
.ft-button-back {
    height: 36px;
    border-radius: 2px;
	color: #979797;
    background-color: #FFFFFF;
	line-height: 33px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
	font-family: verdana, arial;
    font-size: 12px;
    margin: 15px;
	-webkit-transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s; /* Safari */
	-moz-transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s; /* Microsoft */
    transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s;


}

.ft-button-back:hover {
text-decoration: underline;
cursor: pointer;
-webkit-transition: text-decoration ease-in-out 0.02s; /* Safari */
-moz-transition: text-decoration ease-in-out 0.02s; /* FireFox */
-ms-transition: text-decoration ease-in-out 0.02s; /* Microsoft */
transition: text-decoration ease-in-out 0.02s;
}

	.ft-button-back:active {
	background: #FFFFFF;
	color: #191919;
	text-decoration: none;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s, color ease-in-out 0.01s;
	}

	.ft-button-back:focus{
	outline: 0;
	}

		@keyframes ft-button-back {
	16.65% {
		transform: translateX(2px);
	}

	33.3% {
		transform: translateX(-2px);
	}

	49.95% {
		transform: translateX(1.5px);
	}

	66.6% {
		transform: translateX(-1.5px);
	}

	83.25% {
		transform: translateX(1px);
	}

	100% {
		transform: translateX(0);
	}
}

	.ft-button-back span.icon {
	background-image: url(../images/arrow-back.svg);
    width: 12px;
    height: 12px;
	margin-right: 6px;
	margin-top: 10px;
    float: left;


}

	.ft-button-back:hover span.icon {
	background-image: url(../images/arrow-back.svg);
    float: left;
	margin-top: 10px;
	animation-name: ft-button-back;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s;

	}


	.ft-button-back:active span.icon {
    float: left;
	margin-right: 6px;
	margin-top: 10px;
	-webkit-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* Safari */
	-moz-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* FireFox */
	-ms-transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s; /* Microsoft */
    transition: background-color ease-in-out 0.01s, box-shadow ease-in-out 0.2s;
    }

    /*END BUTTONS*/
